.wrapper{
  display: flex;
  flex-direction: column;
}
.app {
  padding: 0px 20px;
}
.heading {
  text-align: center;
}
.slogan{
  display: flex;
  justify-content: center;
}
.text {
  margin: 5% 10%;
}

.input {
  text-align: center !important;
}

.footer {
  display: inherit;
  justify-content: center;
  background-color: rgb(170, 180, 175);
  padding: 10px 0px;
  justify-self: flex-end;
}

.author {
  text-decoration: none;
  color: black;
}

.link {
  text-decoration: none;
  color: chocolate;
}